.no-vert-padding {
    padding-top: 0;
    padding-bottom: 0;
}
strong {
    font-size: 18px;
}
.number-button {
    max-width: 40px;
    max-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    background-color: lightseagreen;
}
